@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.wrapper {
  height: calc(100vh - 100px);
  background: url(../../../assets/images/slides/banner-main.png) no-repeat
    center;
  background-size: cover;
  position: relative;
  .banner-title {
    color: rgba(242, 232, 232, 0.93);
    // background: -webkit-linear-gradient(#eee, #333);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-size: 150px;
    font-family: 'Bangers', cursive;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.915),
      0px -4px 10px rgba(49, 11, 11, 0.782);
    letter-spacing: 5px;
  }
  .flower-1 {
    position: absolute;
    bottom: 29%;
    left: 28%;
    transform: rotate(-50deg);
  }
  .flower-2 {
    position: absolute;
    bottom: 1%;
    right: 30%;
    transform: rotate(-225deg);
  }
  .flower-3 {
    position: absolute;
    bottom: 18%;
    right: 40%;
    transform: rotate(-205deg);
  }
}

@media screen and (max-width: 900px) {
  .wrapper .banner-title {
    font-size: 130px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .banner-title {
    font-size: 85px;
  }
}
